/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";





/* Estilos para el modo claro */
ion-item {
  --background: white;
  --color: black;
  --border-width: 1px;
  --border-radius: 8px;
  margin-bottom: 10px; 
}

ion-select {
  --background: white;
  --color: black;
}

/* Estilos para el modo oscuro */
body.dark ion-item,
body.dark ion-select {
  --background: black;
  --color: white;
}

/* Asegúrate también de ajustar los estilos de los elementos de la lista */
body.dark ion-select-option {
  --background: black;
  --color: white;
}













ion-label {
  color: #003DA5; 
}

ion-input {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  font-size: 14px;
}


.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 150px;
  height: auto;
}

.form-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.button-container {
  text-align: center;
}

ion-button {
  margin-bottom: 10px;
}

ion-button[fill="clear"] {
  --color: #000;
}

.menu-icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.segment-icon {
  width: 25px;
  height: 25px;
  margin: 0 8px;
}

.segment-button {
  --color: #000000;
  --background: #F4A100;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  text-align: center;
}

  
  
  
  



body {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}

/* Asegurarte de que otros elementos también cambian sus estilos */
ion-header, ion-toolbar, ion-content, ion-footer, ion-select {
  background-color: inherit;
  color: inherit;
}

ion-button {
  --background: inherit;
  --color: inherit;
  
}

