<ion-buttons slot="start">
  <ion-button (click)="navigateTo('login')">
    <img src="assets/img/hogar.png" alt="icono" style="width: 25px; height: 25px;" />
  </ion-button>
</ion-buttons>

<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="content-background">
  <div class="logo-container">
    <img src="assets/img/Logo_Duoc.png" alt="Logo Duoc UC" class="logo">
  </div>

  <div class="form-container">
    <ion-item>
      <ion-label position="floating" style="color: black;">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="username" type="text" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="color: black;">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="color: black;">Confirmar Contraseña</ion-label>
      <ion-input [(ngModel)]="confirmPassword" type="password" ></ion-input>
    </ion-item>

    <div class="button-container">
      <ion-button expand="full" (click)="registro()">Registrarse</ion-button>

    </div>
  </div>
  
</ion-content>

<ion-footer class="sticky-footer">
  <ion-toolbar>
    <ion-text>
      <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <p><strong>Contacto:</strong> +56 9 1234 5678</p>
        <p><strong>Nombre de la página:</strong> RegistrApp</p>
        <p><strong>Correo electrónico:</strong> 
          <a href="mailto:DuocucRegistrapp&#64;duocuc.cl">DuocucRegistrapp&#64;duocuc.cl</a>
        </p>
      </div>
    </ion-text>
  </ion-toolbar>
</ion-footer>
